$pink: #f6edf2;
$dark-pink: #ddb9cb;
$success: #3bcf18;
$danger: #b50000;

$primary: $dark-pink;
$secondary: $pink;
$success: $success;
$danger: $danger;
@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/variables";
